#form-container {
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}

#form-container > div {
  width: 50%;
  min-width: 300px;
}

.request-form-entry {
  margin-top: 15px;
  margin: 15px 15px 15px 15px;
  max-width: 350px;
}

.center-item {
  display: flex;
  justify-content: center;
}

#form-header-container{
  display: flex;
}

#form-header{
  font-size: 3em;
}